.about {
  display: flex;
  color: #000000;
}
.about::before {
  content: "";
  display: block;
  margin-right: -137px;
  width: 490px;
  height: 505px;
  background-image: url('../img/decor-gates.png');
}
.about__content {
  margin-top: 97px;
  width: 785px;
  min-height: 455px;
  padding: 69px 81px;
  border-radius: 5px;
  background-image: url('../img/decor-mountains.png');
}
.about__title {
  margin-bottom: 37px;
  font-size: 36px;
}
.about__text {
  margin-bottom: 43px;
  line-height: 1.7;
}
.about__text p {
  margin-bottom: 20px;
}
.about__text p:last-child {
  margin-bottom: 0;
}