.btn {
  display: inline-block;
  padding: 17px 39px;
  border-radius: 35px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #F5170E;
  cursor: pointer;
}
.btn--theme-empty {
  border: 1px solid #F5170E;
  background-color: #ffffff;
  color: #F5170E;
}
.btn--theme--dark {
  background-color: #2B2B2B;
}
.btn--size--small {
  padding: 17px 29px;
}
.btn--theme-empty:hover {
  background-color: #F5170E;
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
}