.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col--align--right {
  justify-content: flex-end;
}
