.header {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;
}
.header__col {
  display: flex;
  align-items: center;
}
.header__col--align--right {
  justify-content: flex-end;
}
