.info {
  position: relative;
  font-style: normal;
  text-align: right;
}
.info__tel {
  display: block;
  margin-bottom: -8px;
  font-size: 26px;
  text-decoration: none;
}
.info__workhours {
  color: #98A4A8;
  font-size: 13px;
}
.info__workhours-title {
  text-decoration: underline;
  cursor: pointer;
}
.info__workhours-title:hover {
  color: #ffffff;
  transition: color 0.3s;
}
.info__workhours:hover .info__workhours-title ~ .info__dropdown {
  opacity: 1;
  left: auto;
  right: 0;
  transition: opacity 0.3s;
}
.info__calls {
  color: #9A9A9A;
  font-size: 11px;
}
.info__dropdown {
  position: absolute;
  top: 100%;
  left: -9999px;
  opacity: 0;
}