.inner-section {
  padding: 88px 0 68px;
  background-color: #ffffff;
  color: #1A1B1E;
}
.inner-section--bg--gray {
  background-color: #F4F5F5;
}
.inner-section__title {
  margin-bottom: 53px;
  font-size: 48px;
}
.inner-section--padding--small {
  padding-top: 62px;
  padding-bottom: 99px;
}