* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.main-page-wrapper {
  background: url("../img/bg-hero.png") center top no-repeat,
              url("../img/bg-bottom.png") center bottom no-repeat  ;
}

.logo {
  display: block;
}

.main-content {
  margin-bottom: 55px ;
}

.footer-wrapper__content {
  padding: 21px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.page-title {
  font-size: 72px;
  line-height: 1.1;
}
