@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('./layout.css');
@import url('./btn.css');
@import url('./hero.css');
@import url('./header.css');
@import url('./navigation.css');
@import url('./info.css');
@import url('./section.css');
@import url('./tours.css');
@import url('./news.css');
@import url('./pagination.css');
@import url('./about.css');
@import url('./footer.css');
@import url('./top-line.css');
@import url('./breadcrumbs.css');
@import url('./services.css');
@import url('./inner-section.css');
@import url('./parthners.css');
@import url('./reviews.css');
@import url('./promo.css');
@import url('./form.css');
@import url('./controls.css');
@import url('./welcome.css');
@import url('./dropdown.css');
