@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 17px 39px;
  border-radius: 35px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F5170E;
  color: #ffffff;
}
.btn--theme-empty {
  padding: 17px 29px;
  border: 1px solid #F5170E;
  background-color: #ffffff;
  color: #F5170E;
}
.btn:hover {
  background-color: #F5170E;
  color: #ffffff;
}

.main-page-wrapper {
  background: url("../img/bg-hero.png") center top no-repeat,
              url("../img/bg-bottom.png") center bottom no-repeat  ;
}

.hero {
  margin-bottom: 246px;
}
.header {
  position: relative;
  height: 100px;
  margin-bottom: 97px;
}
.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}
.navigation {
  position: absolute;
  top: 40px;
  left: 100px;
  margin-left: 63px;
}
.navigation__item {
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item--active .navigation__link{
  color: #DA0100;
}
.navigation__link {
  font-size: 14px;
}
.navigation__link:hover {
  color: #DA0100;
}
.info {
  position: absolute;
  top: 27px;
  right: 0;

  font-style: normal;
  text-align: right;
}
.info__tel {
  display: block;
  margin-bottom: -8px;
  font-size: 26px;
  text-decoration: none;
}
.info__workhours {
  color: #98A4A8;
  font-size: 13px;
  text-decoration: underline;
}
.info__workhours:hover {
  color: #ffffff;
  cursor: pointer;
}
.info__calls {
  color: #9A9A9A;
  font-size: 11px;
}

.hero__content {
  width: 520px;
}
.hero__title {
  margin-bottom: 25px;
  font-size: 72px;
  line-height: 1.35;
}
.hero__subtitle {
  margin-bottom: 33px;
  font-size: 18px;
  font-weight: normal;
}

.section {
  margin-bottom: 126px;
}
.section:last-child {
  margin-bottom: 0;
}
.section__title {
  margin-bottom: 51px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}
.section__title--fire {
  position: relative;
}
.section__title--fire::after {
  content: "";
  display: inline-block;
  margin-left: 15px;
  width: 21px;
  height: 28px;
  background-image: url("../img/icon-flame.svg");
}

.main-content {
  margin-bottom: 55px ;
}

.tours {
  color: #000000;
}
.tours__item {
  display: inline-block;
  margin-right: 22px;
  border-radius: 5px;
  vertical-align: top;
  overflow: hidden;
}
.tours__item:last-child {
  margin-right: 0;
}
.tours__image-wrapper {
  width: 100%;
  height: 144px;
}
.tours__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tours__content {
  width: 362px;
  padding: 30px 22px 25px;
  background-color: #ffffff;
  color: #303030;
}
.tours__title {
  margin-bottom: 22px;
  font-size: 24px;
}
.tours__features {
  margin-bottom: 24px;
  margin-left: 5px;
}
.tours__feature {
  display: inline-block;
  margin-right: 25px;
  color: #666666;
}
.tours__feature-img,
.tours__feature-text {
  display: inline-block;
  vertical-align: middle;
}
.tours__feature-img {
  margin-right: 10px;
  /* width: 26px;
  height: 26px; */
}
.tours__description {
  margin-bottom: 27px;
  font-size: 14px;
}

.news {
  margin-bottom: 47px;
}
.news__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 557px;
  margin-right: 21px;
  border-radius: 5px;
}
.news__item:last-child {
  margin-right: 0;
}
.news__background {
  object-fit: cover;
}
.news__content {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 160px;
  padding: 15px 32px;
}
.news__date {
  margin-bottom: 10px;
  font-size: 14px;
}
.news__title {
  margin-bottom: 3px;
  font-size: 24px;
}

.pagination {
  margin-bottom: 145px;
  text-align: center;
}
.pagination__text,
.pagination__list {
  display: inline-block;
  vertical-align: middle;
}
.pagination__text {
  margin-right: 25px;
}
.pagination__item {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  border-radius: 50%;
}
.pagination__item:hover {
  background-color: #ffffff;
  color: #F5170E;
  cursor: pointer;
}
.pagination__item--active {
  background-color: #ffffff;
  color: #F5170E;
}

.about {
  color: #000000;
}
.about::before,
.about__content {
  display: inline-block;
  vertical-align: top;
}
.about::before {
  content: "";
  margin-right: -142px;
  width: 490px;
  height: 505px;
  background-image: url('../img/decor-gates.png');
}
.about__content {
  margin-top: 97px;
  width: 785px;
  min-height: 455px;
  padding: 69px 81px;
  border-radius: 5px;
  background-image: url('../img/decor-mountains.png');
}
.about__title {
  margin-bottom: 37px;
  font-size: 36px;
}
.about__text {
  margin-bottom: 43px;
  line-height: 1.7;
}
.about__text p {
  margin-bottom: 20px;
}
.about__text p:last-child {
  margin-bottom: 0;
}

.footer-wrapper__content {
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer {
  position: relative;
  height: 90px;
}
.social {
  position: absolute;
  top: 34px;
  right: 265px;
}
.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item--icon-telegram .social__link {
  background-image: url("../img/icon-telegram.svg");
}
.social__item--icon-telegram:hover .social__link {
  background-image: url("../img/icon-telegram-hover.svg");
}
.social__item--icon-vk .social__link {
  background-image: url("../img/icon-vk.svg");
}
.social__item--icon-vk:hover .social__link {
  background-image: url("../img/icon-vk-hover.svg");
}
.social__item--icon-fb .social__link {
  background-image: url("../img/icon-fb.svg");
}
.social__item--icon-fb:hover .social__link {
  background-image: url("../img/icon-fb-hover.svg");
}
.social__item--icon-insta .social__link {
  background-image: url("../img/icon-insta.svg");
}
.social__item--icon-insta:hover .social__link {
  background-image: url("../img/icon-insta-hover.svg");
}
.social__link {
  display: block;
  width: 36px;
  height: 36px;
}
