.news {
  display: flex;
  margin-bottom: 53px;
}
.news__item {
  position: relative;
  flex: 1;
  margin-right: 2%;
  border-radius: 5px;
}
.news__item:last-child {
  margin-right: 0;
}
.news__background {
  object-fit: cover;
}
.news__content {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 160px;
  padding: 15px 32px;
}
.news__date {
  margin-bottom: 10px;
  font-size: 14px;
}
.news__title {
  margin-bottom: 3px;
  font-size: 24px;
}
.news__pagination {
  margin-bottom: 145px;
}