.promo {
  padding: 119px 0;
  background: no-repeat bottom right 29% url("../img/bg-promo-1.png"),
              url("../img/bg-promo-2.png") no-repeat;
}
.promo-title {
  max-width: 54%;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.3;
  color: #ffffff;
}