.section {
  margin-bottom: 126px;
}
.section:last-child {
  margin-bottom: 0;
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}
.section__title--fire {
  position: relative;
  display: flex;
  align-items: center;
}
.section__title--fire::after {
  content: "";
  margin-left: 15px;
  width: 21px;
  height: 28px;
  background-image: url("../img/icon-flame.svg");
}