.services {
  padding: 98px 0 83px;
  background-color: #ffffff;
  color: #000000;
}
.services__list {
  margin-bottom: 70px;
}
.services__item {
  display: flex;
  margin-bottom: 50px;
}
.services__item:last-child {
  margin-bottom: 0;
}
.services__img-wrapper {
  width: 40%;
  margin-right: 5%;
  border-radius: 5px;
}
.services__content {
  flex: 1;
  padding-top: 13px;
}
.services__title {
  margin-bottom: 26px;
  font-size: 36px;
}
.services__text {
  margin-bottom: 34px;
  line-height: 1.7;
  color: #303030;
}