.social {
  margin-right: 73px;
}
.social__list {
  display: flex;
}
.social__item {
  margin-right: 10px;
  width: 36px;
  height: 36px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item:hover .social__link {
  transition: background-image 0.3s;
}
.social__item--icon-telegram .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -122px -10px;
}
.social__item--icon-telegram:hover .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -122px -66px;
}
.social__item--icon-vk .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -10px -122px;
}
.social__item--icon-vk:hover .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -66px -122px;
}
.social__item--icon-fb .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -10px -10px;
}
.social__item--icon-fb:hover .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -66px -10px;
}
.social__item--icon-insta .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -10px -66px;
}
.social__item--icon-insta:hover .social__link {
  background-image: url("../img/sprite-social.png");
  background-position: -66px -66px;
}
.social__link {
  display: block;
  width: 36px;
  height: 36px;
}