.top-line {
  display: flex;
  flex-direction: column;
  min-height: 409px;
  padding-bottom: 24px;
  background: url('../img/bg-services.png') no-repeat;
}
.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}