.tours {
  display: flex;
  justify-content: space-between;
  color: #000000;
}
.tours__item {
  width: 362px;
  width: calc(33.3% - 18px);
  border-radius: 5px;
  overflow: hidden;
}
.tours__item:last-child {
  margin-right: 0;
}
.tours__image-wrapper {
  width: 100%;
  height: 144px;
}
.tours__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tours__content {
  padding: 30px 22px 25px;
  background-color: #ffffff;
  color: #303030;
}
.tours__title {
  margin-bottom: 22px;
  font-size: 24px;
}
.tours__features {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 5px;
}
.tours__feature {
  display: flex;
  align-items: center;
  margin-right: 25px;
  color: #666666;
}
.tours__feature-img {
  margin-right: 10px;
}
.tours__description {
  margin-bottom: 27px;
  font-size: 14px;
}