.welcome {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url('../img/bg-welcome-shades.png') center center no-repeat,
              url('../img/bg-welcome.png') center center / cover no-repeat;  
}
.animated {
  display: flex;
  margin-top: 45%;
  flex-direction: column;
  align-items: center;
}
.animated--asia {
  opacity: 0;
  animation: scaleJump 2s ease-in;
  animation-fill-mode: forwards;
}
.animated__text {
  margin-bottom: 52px;
  font-size: 18px;
}

@keyframes scaleJump {
  0% {
    transform: scale(0.7);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(0.95);
  }
}